<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>NewsSetter - Posts: List View</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700|Alike|Lato:400,700" rel="stylesheet">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- favicon.ico and apple-touch-icon.png -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon-57x57-iphone.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72-ipad.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114-iphone4.png">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="screen.css">
<link rel="stylesheet" href="styles/blue.css">
<!-- custom CSS -->
<link rel="stylesheet" href="custom.css">

<!-- main JS libs  -->
<script src="js/libs/modernizr-2.5.3.min.js"></script>
<script src="js/libs/respond.min.js"></script>					 
<script src="js/libs/jquery.min.js"></script>

<!-- scripts  -->
<script src="js/jquery.easing.1.3.min.js"></script>
<script src="js/general.js"></script>
<script src="js/hoverIntent.js"></script>
<!-- carousel -->
<script src="js/jquery.carouFredSel.min.js"></script>
<script src="js/jquery.touchwipe.js"></script>
<!-- sliders -->
<script src="js/slides.min.jquery.js"></script>
  
</head>
<body>  
<div class="body_wrap">

<div class="header_container">

	<header style="background-image:url(images/header_img_blue.jpg); background-color:#097bb6">
    	<div class="container">	        
	        
	        <div class="header_right">            	
                <div class="top_btn">
	                <div class="topsearch">
		            	<form id="searchForm" action="#" method="get">
		                	<input type="submit" id="searchSubmit" value="Search" class="btn-search">
		                    <input type="text" name="stext" id="stext" value="" class="stext">                    
						</form>
	            	</div>
		        	<a href="posts-grid.html" class="link_view_grid">Grid View</a> <a href="posts-list.html" class="link_view_list active">List View</a>                
                </div>
	        </div>
			
			<div class="header_left">
			   	<div class="logo">
	            <a href="index.html"><img src="styles/blue/logo.png" alt=""></a>
	            <strong>Newssetter - Premium WordPress Theme</strong>
	            </div>
	        </div>
            
	        <div class="clear"></div>	
        </div>                    		    
	</header>
</div>
<!--/ header_container -->

<div class="container topm_cont">
 
    <!-- topmenu -->    
    <nav id="topmenu">            
	            <ul class="dropdown">                                                                              
                    <li class="menu-level-0"><a href="#"><span>Styles</span></a>
                    	<ul class="submenu-1">
                        	<li class="menu-level-1"><a href="#"><span>Flavors</span></a>
								<ul class="submenu-2">
									<li class="menu-level-2"><a href="../Black/index.html"><span>Black Style</span></a></li> 
									<li class="menu-level-2"><a href="../Blue/index.html"><span>Blue Style</span></a></li> 
									<li class="menu-level-2"><a href="../Red/index.html"><span>Red Style</span></a></li>
									<li class="menu-level-2"><a href="../Green/index.html"><span>Green Style</span></a></li>									
								</ul>
							</li>
                        	<li class="menu-level-1"><a href="#"><span>Home Styles</span></a>
								<ul class="submenu-2">
									<li class="menu-level-2"><a href="index.html"><span>Small Header</span></a></li> 
									<li class="menu-level-2"><a href="index-2.html"><span>Full Header</span></a></li> 
									<li class="menu-level-2"><a href="index-3.html"><span>Text Logo</span></a></li>
									<li class="menu-level-2"><a href="index-no-tags.html"><span>Without Tags</span></a></li>									
								</ul>
							</li>
                        </ul>
                    </li>
					<li class="menu-level-0"><a href="#"><span>Pages</span></a>
						<ul class="submenu-1">							
							<li class="menu-level-2"><a href="about.html"><span>About us</span></a></li>
							<li class="menu-level-2"><a href="contact.html"><span>Contact</span></a></li>
							<li class="menu-level-2"><a href="posts-types.html"><span>Post Layouts</span></a></li>
							<li class="menu-level-2"><a href="post-details-2.html"><span>Review Page</span></a></li>
							<li class="menu-level-2"><a href="posts-list-sidebar-left.html"><span>Sidebar Left</span></a></li>
							<li class="menu-level-2"><a href="wp-widgets-layout.html"><span>WP Widgets</span></a></li>
							<li class="menu-level-2"><a href="wp-widgets-layout-2.html"><span>Boxed Widgets</span></a></li>
						</ul>
					</li>
                   <li class="menu-level-0"><a href="#"><span>Shortcodes</span></a>
						<ul class="submenu-1">                        		
							<li class="menu-level-1"><a href="shortcodes-buttons.html"><span>Buttons & Lists</span></a></li> 
							<li class="menu-level-1"><a href="shortcodes-text.html"><span>Text & Images</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-charts.html"><span>Charts</span></a></li>  
							<li class="menu-level-1"><a href="shortcodes-columns.html"><span>Columns</span></a></li>  
							<li class="menu-level-1"><a href="shortcodes-lightbox.html"><span>Lightbox</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-media.html"><span>Videos & Galleries</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-maps.html"><span>Google Maps</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-tabs.html"><span>Tabs & Toggles</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-tables.html"><span>Boxes & Tables</span></a></li>                            
							<li class="menu-level-1"><a href="shortcodes-typography.html"><span>Typography</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-widgets.html"><span>Widgets</span></a></li>
						</ul>   
					</li>
                    <li class="menu-level-0"><a href="#"><span>Advertising</span></a>
						<ul class="submenu-1">
							<li class="menu-level-1"><a href="advertise.html"><span>On Homepage</span></a></li> 
							<li class="menu-level-1"><a href="post-details-advertise.html"><span>On Post Article</span></a></li> 
						</ul>
					</li>	

                    <li class="menu-level-0 mega-nav"><a href="#"><span>Coolmenu</span></a>                    	
						<ul class="submenu-1">
                        	<li class="menu-level-1 mega-nav-widget">
                            	<!-- widget recent entries -->
							    <div class="widget-container widget_recent_entries"> 
									<h3 class="widget-title">New stories since your last visit</h3>
                                    <div class="mega-nav-widget-count"><em>31</em></div>
							            <ul>
							                <li><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></li>
							                <li><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a>					                </li>
                                            <li><a href="post-details.html" class="link-name">Google threatens site that rips YouTube music videos into MP3s</a></li>
										</ul>
                                        <div class="more-nav"><a href="posts-grid.html">See ALL THE NEW STORIES</a></div>
							    </div>
							    <!--/ widget recent entries -->
                            </li>
							<li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget featured entries -->
							    	<div class="widget-container widget_featured_posts"> 
										<h3 class="widget-title">We recommend</h3>
							                <ul>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
							                    </li>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
							                    </li>							                    
											</ul>
							        </div>
								<!--/ widget featured entries -->
                            </li>     
                            <li class="menu-level-1"><a href="#"><span>Subcategories</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Science Fiction</span></a></li>
                                    <li class="menu-level-2 more-nav"><a href="posts-grid.html"><span>See ALL Movies</span></a></li>
	                            </ul>
                            </li>	                                                                               
                    		                        
	                    </ul>                   
                    </li>
                    <li class="menu-level-0 mega-nav"><a href="#"><span>Games</span></a>
                    	<ul class="submenu-1">
                        							                                                    
                            <li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget text -->
							    	<div class="widget-container widget_text"> 
										<h3 class="widget-title">Text Widget in Mega Menu</h3>
							            <div class="textwidget">
						                    <p>Easily add a functional and highly customizable Mega Menu to your WordPress website. Choose your option of five different color schemes within the WordPress admin, or style it to your liking with your own stylesheet. In addition, the plugin has added shortcode functionality to better customize your menu’s content.</p>
						          		</div>
							        </div>
								<!--/ widget text -->
                            </li>	
                            <li class="menu-level-1"><a href="#"><span>Subcategories</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2 more-nav"><a href="posts-grid.html"><span>See ALL Movies</span></a></li>
	                            </ul>
                            </li>	  
                            <li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget featured entries -->
							    	<div class="widget-container widget_featured_posts"> 
										<h3 class="widget-title">We recommend</h3>
							                <ul>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
							                    </li>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
							                    </li>							                    
											</ul>
							        </div>
								<!--/ widget featured entries -->
                            </li>  
                    		                        
	                    </ul>
                    </li>
                    <li class="menu-level-0"><a href="posts-grid.html"><span>Technology</span></a></li>
                    <li class="menu-level-0"><a href="posts-grid.html"><span>Marketplace</span></a></li>                    
                    <li class="menu-level-0 mega-nav current-menu-ancestor"><a href="#"><span>Movies</span></a>
                    	<ul class="submenu-1">
                        	<li class="menu-level-1 current-menu-ancestor"><a href="#"><span>TV Shows</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2 current-menu-item"><a href="#"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
	                            </ul>
                            </li>	                    	
	                        <li class="menu-level-1"><a href="#"><span>Cinema</span></a>
	                            <ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="#"><span>Drama</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
	                            </ul>
	                        </li>	
                            <li class="menu-level-1"><a href="#"><span>Trailers</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
	                            </ul>
                            </li>                       
	                    </ul> 
                    </li>
	            </ul>   
		<div class="clear"></div>                             
	</nav>    
    <!--/ topmenu -->
    
    <div class="topbar">
    	<div class="top_share"><span class="social_title">SHARE</span> <a href="#" class="social_google">Google +1</a> <a href="#" class="social_fb">Facebook</a> <a href="#" class="social_twitter">Twitter</a> <a href="#" class="social_pinterest">Pinterest</a></div>
        
    	<span class="top_filter"><a href="#" class="link_mostcomm">Most commented</a> <a href="#" class="link_pick">Editor’s Picks</a> <a href="#" class="link_mostlike">Most liked</a> <a href="#" class="link_random">Random story</a></span>     
        <div class="clear"></div>
    </div>
</div>

<!-- top Slider -->
<div class="topSlider">
	<div class="container">
    
		<ul id="topcarousel" class="ts_container">			
            
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_2.jpg" width="233" height="300" alt=""></a>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">Tudor personal Tailor</a>
                </div> 
            </li>
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_3.jpg" width="233" height="300" alt=""></a>
                <span class="icon_video"></span>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">Makeup Collection Spring 2012</a>
                </div> 
            </li>            
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_4.jpg" width="233" height="300" alt=""></a>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">The Good Wife</a>
                </div> 
            </li>     
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_5.jpg" width="233" height="300" alt=""></a>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">Hell on wheels</a>
                </div> 
            </li>
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_6.jpg" width="233" height="300" alt=""></a>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">The Walking dead</a>
                </div>
            </li>  
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_2.jpg" width="233" height="300" alt=""></a>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">Tudor personal Tailor</a>
                </div> 
            </li>             
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_3.jpg" width="233" height="300" alt=""></a>
                <span class="icon_video"></span>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">Makeup Collection Spring 2012</a>
                </div> 
            </li>            
            <li class="slide_1_4">
            	<a href="#"><img src="images/temp/top_slide_4.jpg" width="233" height="300" alt=""></a>
                <div class="slide_caption">
                	<div class="slide_tag">Movies</div>
                    <a href="#">The Good Wife</a>
                </div> 
            </li>            

        </ul>
        <div class="clear"></div>
        <div class="ts_pagination" id="topcarousel_pag"></div>
	</div>
</div>
<script>
	jQuery(document).ready(function($) {
		$('#topcarousel').carouFredSel({
			pagination : "#topcarousel_pag",
			auto: {
				pauseDuration: 7000,
				pauseOnHover: true
			},
			scroll: {
				wipe: true
			}
		});
	});
</script>
<!--/ top Slider -->
    
<div class="container"> 
<!-- middle -->
<div id="middle" class="cols2">
	
    <div class="content" role="main">
    
    	<div class="breadcrumbs"><a href="#">Movies</a> <span class="separator">&nbsp;</span> TV Shows</div>
    
    	<!-- post list, grid view -->
        <div class="posts_layout list_layout image_small">
        
        		            
	    		<div class="post-item">	                    		                        	
                	<div class="post-image">
                    	<a href="post-details.html"><img src="images/temp/post_3_1.jpg" width="300" height="192" alt=""></a>
                   	  	<div class="post-cat"><span>Reviews</span></div>
                        <div class="score_box">5 <span>our score</span></div>
                  	</div>
	            	<div class="post-title">				            	
				    	<h2><a href="post-details.html">Hands-on: app lets you Bump smartphone pics to your computer</a></h2>                        
				    </div>	                        
	                <div class="post-meta"><a href="#" class="author">Dimi Baitanciuc</a> <span class="separator">|</span> <a href="#">15 Comments</a></div>
	                <div class="post-descr">
						<p>Snapping a quick picture on your iPhone is easy, but getting the image on your desktop can sometimes be a chore ...</p>
	                </div>
                    <div class="clear"></div>
	        	</div>
                
                <div class="post-item">	                    		                        	
                	<div class="post-image">
                    	<a href="post-details.html"><img src="images/temp/post_3_2.jpg" width="300" height="192" alt=""></a>
                   	  	<div class="post-cat"><span>Technology</span></div>                        
                  	</div>
	            	<div class="post-title">				            	
				    	<h2><a href="post-details.html">Google Glasses patent hints at speech-to-text display for deaf users</a></h2>                        
				    </div>	                        
	                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
	                <div class="post-descr">
						<p>Google is bulking up on patents to protect its new augmented reality glasses project from legal attack ...</p>
	                </div>
                    <div class="clear"></div>
	        	</div>
                
                <div class="post-item">	                    		                        	
                	<div class="post-image">
                    	<a href="post-details.html"><img src="images/temp/post_3_3.jpg" width="300" height="192" alt=""></a>
                   	  	<div class="post-cat"><span>Culture</span></div>                        
                  	</div>
	            	<div class="post-title">				            	
				    	<h2><a href="post-details.html">Anonymous organizes protests in 18 Indian cities over web censorship</a></h2>                        
				    </div>	                        
	                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
	                <div class="post-descr">
						<p>Anonymous, the internet hacking group recently profiled by Parmy Olson, has shifted its attention to the increasing ...</p>
	                </div>
                    <div class="clear"></div>
	        	</div>
                
                <div class="post-item">	                    		                        	
                	<div class="post-image">
                    	<a href="post-details.html"><img src="images/temp/post_3_1.jpg" width="300" height="192" alt=""></a>
                   	  	<div class="post-cat"><span>Reviews</span></div>
                        <div class="score_box">5 <span>our score</span></div>
                  	</div>
	            	<div class="post-title">				            	
				    	<h2><a href="post-details.html">Hands-on: app lets you Bump smartphone pics to your computer</a></h2>                        
				    </div>	                        
	                <div class="post-meta"><a href="#" class="author">Dimi Baitanciuc</a> <span class="separator">|</span> <a href="#">15 Comments</a></div>
	                <div class="post-descr">
						<p>Snapping a quick picture on your iPhone is easy, but getting the image on your desktop can sometimes be a chore ...</p>
	                </div>
                    <div class="clear"></div>
	        	</div>
                
        	<div class="clear"></div>                
		</div>
        <!--/ post list, grid view --> 
        
        <!-- pagination -->
	    	<div class="tf_pagination">
	            <div class="inner">
	                <a class="page_prev" href="#"><span>OLDER</span></a> 
	                <a class="page_next" href="#"><span>NEWER</span></a>
                    
	                <span class="page-numbers page_current">1</span> <a href="#" class="page-numbers">2</a>  <a href="#" class="page-numbers">3</a> &hellip; <a href="#" class="page-numbers">13</a> &hellip; <a href="#" class="page-numbers">47</a> <a href="#" class="page-numbers">48</a> <a href="#" class="page-numbers">49</a>
	                
	        	</div>
	        </div>
			<!--/ pagination -->
        
	</div>
    <!--/ content -->
    
    <!-- sidebar -->
    <div class="sidebar">
    
    	<!-- widget_popular_posts --> 
        <div class="widget-container widget_popular_posts boxed">
        	<img src="images/icons/icons_16_comm2.png" alt="" class="widget_icon">  
			<h3 class="widget-title">Most Commented</h3>
			<ul>
				<li><span class="comm-count"><em>538</em></span> <a href="post-details.html">Microsoft overhauls certificate management in response to Flame PKI hack</a></li>
				<li><span class="comm-count"><em>120</em></span> <a href="post-details.html">We Are Scared Right Now: What Today’s Video Games Say About The Moment We Live In</a></li>
				<li><span class="comm-count"><em>34</em></span> <a href="post-details.html">Hadoop becomes more business-friendly with HortonWorks and VMware partnership</a></li>                    
			</ul>
		</div> 
        <!--/ widget_popular_posts -->
    	
        <div class="adv_300">
		<img src="images/temp/ads_300x250.jpg" width="300" height="250" alt="">
		</div>
        
        <div class="adv_300">
		<img src="images/temp/ads_300x250_2.jpg" width="300" height="250" alt="">
		</div>
                    
    </div>
    <!--/ sidebar -->
    
    <div class="divider"></div>
    <div class="read-more-big"><a href="#">Read more stories</a></div>
        	
</div>
<!--/ middle --> 
</div>
<!--/ container --> 

<footer>
<div class="container" style="background-image:url(images/header_img_blue.jpg); background-color:#097bb6">

    <div class="footer_right">
    	<ul class="botmenu">
        	<li><a href="about.html">ABOUT</a></li>
            <li><a href="#">AUTHORS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="advertise.html">ADVERTISE</a></li>
            <li><a href="#">PRIVACY</a></li>
            <li><a href="#">TERMS</a></li>
        </ul>
    </div>
    
    <div class="footer_left">
   		<img src="styles/blue/logo_footer.png" width="230" height="50" alt="">
    </div>
	
    <div class="clear"></div>
    
</div>
</footer>

</div>
</body>
</html>