<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>NewsSetter - Post Details</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700|Alike|Lato:400,700" rel="stylesheet">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- favicon.ico and apple-touch-icon.png -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon-57x57-iphone.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72-ipad.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114-iphone4.png">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="screen.css">
<link rel="stylesheet" href="styles/blue.css">
<!-- custom CSS -->
<link rel="stylesheet" href="custom.css">

<!-- main JS libs  -->
<script src="js/libs/modernizr-2.5.3.min.js"></script>
<script src="js/libs/respond.min.js"></script>					 
<script src="js/libs/jquery.min.js"></script>

<!-- scripts  -->
<script src="js/jquery.easing.1.3.min.js"></script>
<script src="js/general.js"></script>
<script src="js/hoverIntent.js"></script>
<!-- carousel -->
<script src="js/jquery.carouFredSel.min.js"></script>
<script src="js/jquery.touchwipe.js"></script>
<!-- sliders -->
<script src="js/slides.min.jquery.js"></script>
  
</head>
<body>  
<div class="body_wrap">

<div class="header_container">

	<header style="background-image:url(images/header_img_blue.jpg); background-color:#097bb6">
    	<div class="container">
			
	        <div class="header_right">            	
                <div class="top_btn">
	                <div class="topsearch">
		            	<form id="searchForm" action="#" method="get">
		                	<input type="submit" id="searchSubmit" value="Search" class="btn-search">
		                    <input type="text" name="stext" id="stext" value="" class="stext">                    
						</form>
	            	</div>
		        	<a href="posts-grid.html" class="link_view_grid active">Grid View</a> <a href="posts-list.html" class="link_view_list">List View</a>                
                </div>
	        </div>
			
	        <div class="header_left">
			   	<div class="logo">
	            <a href="index.html"><img src="styles/blue/logo.png" alt=""></a>
	            <strong>Newssetter - Premium WordPress Theme</strong>
	            </div>
	        </div>	        
            
	        <div class="clear"></div>	
        </div>                    		    
	</header>
</div>
<!--/ header_container -->

<div class="container topm_cont">
 
    <!-- topmenu -->    
    <nav id="topmenu">            
	            <ul class="dropdown">                                                                              
                    <li class="menu-level-0"><a href="#"><span>Styles</span></a>
                    	<ul class="submenu-1">
                        	<li class="menu-level-1"><a href="#"><span>Flavors</span></a>
								<ul class="submenu-2">
									<li class="menu-level-2"><a href="../Black/index.html"><span>Black Style</span></a></li> 
									<li class="menu-level-2"><a href="../Blue/index.html"><span>Blue Style</span></a></li> 
									<li class="menu-level-2"><a href="../Red/index.html"><span>Red Style</span></a></li>
									<li class="menu-level-2"><a href="../Green/index.html"><span>Green Style</span></a></li>									
								</ul>
							</li>
                        	<li class="menu-level-1"><a href="#"><span>Home Styles</span></a>
								<ul class="submenu-2">
									<li class="menu-level-2"><a href="index.html"><span>Small Header</span></a></li> 
									<li class="menu-level-2"><a href="index-2.html"><span>Full Header</span></a></li> 
									<li class="menu-level-2"><a href="index-3.html"><span>Text Logo</span></a></li>
									<li class="menu-level-2"><a href="index-no-tags.html"><span>Without Tags</span></a></li>									
								</ul>
							</li>
                        </ul>
                    </li>
					<li class="menu-level-0"><a href="#"><span>Pages</span></a>
						<ul class="submenu-1">							
							<li class="menu-level-2"><a href="about.html"><span>About us</span></a></li>
							<li class="menu-level-2"><a href="contact.html"><span>Contact</span></a></li>
							<li class="menu-level-2"><a href="posts-types.html"><span>Post Layouts</span></a></li>
							<li class="menu-level-2"><a href="post-details-2.html"><span>Review Page</span></a></li>
							<li class="menu-level-2"><a href="posts-list-sidebar-left.html"><span>Sidebar Left</span></a></li>
							<li class="menu-level-2"><a href="wp-widgets-layout.html"><span>WP Widgets</span></a></li>
							<li class="menu-level-2"><a href="wp-widgets-layout-2.html"><span>Boxed Widgets</span></a></li>
						</ul>
					</li>
                   <li class="menu-level-0"><a href="#"><span>Shortcodes</span></a>
						<ul class="submenu-1">                        		
							<li class="menu-level-1"><a href="shortcodes-buttons.html"><span>Buttons & Lists</span></a></li> 
							<li class="menu-level-1"><a href="shortcodes-text.html"><span>Text & Images</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-charts.html"><span>Charts</span></a></li>  
							<li class="menu-level-1"><a href="shortcodes-columns.html"><span>Columns</span></a></li>  
							<li class="menu-level-1"><a href="shortcodes-lightbox.html"><span>Lightbox</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-media.html"><span>Videos & Galleries</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-maps.html"><span>Google Maps</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-tabs.html"><span>Tabs & Toggles</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-tables.html"><span>Boxes & Tables</span></a></li>                            
							<li class="menu-level-1"><a href="shortcodes-typography.html"><span>Typography</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-widgets.html"><span>Widgets</span></a></li>
						</ul>   
					</li>
                    <li class="menu-level-0"><a href="#"><span>Advertising</span></a>
						<ul class="submenu-1">
							<li class="menu-level-1"><a href="advertise.html"><span>On Homepage</span></a></li> 
							<li class="menu-level-1"><a href="post-details-advertise.html"><span>On Post Article</span></a></li> 
						</ul>
					</li>	

                    <li class="menu-level-0 mega-nav"><a href="#"><span>Coolmenu</span></a>                    	
						<ul class="submenu-1">
                        	<li class="menu-level-1 mega-nav-widget">
                            	<!-- widget recent entries -->
							    <div class="widget-container widget_recent_entries"> 
									<h3 class="widget-title">New stories since your last visit</h3>
                                    <div class="mega-nav-widget-count"><em>31</em></div>
							            <ul>
							                <li><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></li>
							                <li><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a>					                </li>
                                            <li><a href="post-details.html" class="link-name">Google threatens site that rips YouTube music videos into MP3s</a></li>
										</ul>
                                        <div class="more-nav"><a href="posts-grid.html">See ALL THE NEW STORIES</a></div>
							    </div>
							    <!--/ widget recent entries -->
                            </li>
							<li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget featured entries -->
							    	<div class="widget-container widget_featured_posts"> 
										<h3 class="widget-title">We recommend</h3>
							                <ul>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
							                    </li>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
							                    </li>							                    
											</ul>
							        </div>
								<!--/ widget featured entries -->
                            </li>     
                            <li class="menu-level-1"><a href="#"><span>Subcategories</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Science Fiction</span></a></li>
                                    <li class="menu-level-2 more-nav"><a href="posts-grid.html"><span>See ALL Movies</span></a></li>
	                            </ul>
                            </li>	                                                                               
                    		                        
	                    </ul>                   
                    </li>
                    <li class="menu-level-0 mega-nav"><a href="#"><span>Games</span></a>
                    	<ul class="submenu-1">
                        							                                                    
                            <li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget text -->
							    	<div class="widget-container widget_text"> 
										<h3 class="widget-title">Text Widget in Mega Menu</h3>
							            <div class="textwidget">
						                    <p>Easily add a functional and highly customizable Mega Menu to your WordPress website. Choose your option of five different color schemes within the WordPress admin, or style it to your liking with your own stylesheet. In addition, the plugin has added shortcode functionality to better customize your menu’s content.</p>
						          		</div>
							        </div>
								<!--/ widget text -->
                            </li>	
                            <li class="menu-level-1"><a href="#"><span>Subcategories</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2 more-nav"><a href="posts-grid.html"><span>See ALL Movies</span></a></li>
	                            </ul>
                            </li>	  
                            <li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget featured entries -->
							    	<div class="widget-container widget_featured_posts"> 
										<h3 class="widget-title">We recommend</h3>
							                <ul>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
							                    </li>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
							                    </li>							                    
											</ul>
							        </div>
								<!--/ widget featured entries -->
                            </li>  
                    		                        
	                    </ul>
                    </li>
                    <li class="menu-level-0 current-menu-ancestor"><a href="#"><span>Technology</span></a></li>
                    <li class="menu-level-0"><a href="posts-grid.html"><span>Marketplace</span></a></li>                    
                    <li class="menu-level-0 mega-nav"><a href="#"><span>Movies</span></a>
                    	<ul class="submenu-1">
                        	<li class="menu-level-1"><a href="#"><span>TV Shows</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
	                            </ul>
                            </li>	                    	
	                        <li class="menu-level-1"><a href="#"><span>Cinema</span></a>
	                            <ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="#"><span>Drama</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
	                            </ul>
	                        </li>	
                            <li class="menu-level-1"><a href="#"><span>Trailers</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
	                            </ul>
                            </li>                       
	                    </ul> 
                    </li>
	            </ul>   
		<div class="clear"></div>                             
	</nav>    
    <!--/ topmenu -->
    
    <div class="topbar">
    	<div class="top_share"><span class="social_title">SHARE</span> <a href="#" class="social_google">Google +1</a> <a href="#" class="social_fb">Facebook</a> <a href="#" class="social_twitter">Twitter</a> <a href="#" class="social_pinterest">Pinterest</a></div>
        
    	<span class="top_filter"><a href="#" class="link_mostcomm">Most commented</a> <a href="#" class="link_pick">Editor’s Picks</a> <a href="#" class="link_mostlike">Most liked</a> <a href="#" class="link_random">Random story</a></span>     
        <div class="clear"></div>
    </div>
</div>

    
<div class="container"> 
<!-- middle -->
<div id="middle" class="cols2">
	
    <div class="title">
    	<h1><span>Surface:</span> PC makers offer no comment as reports conflict on when Microsoft gave them the news</h1>
        <div class="post-meta">
	    	<span class="tags"><a href="#">Tecnology</a> <a href="#">Tables</a> <a href="#">MIcrosoft</a></span> 
	        by <a href="#" class="author">Sergiu Bagrin</a> <span class="separator">|</span> <a href="#comments" class="anchor">256 Comments</a> <span class="separator">|</span> in <a href="posts-list.html">Technology</a>
	    </div>
    </div>  
    
    <div class="content" role="main">
       
    	<article class="post-detail">            
			<div class="entry">
            
            
	            <div class="frame_box">
	            <img src="images/temp/entry_big_1.jpg" width="620" height="412" alt="">
	            </div>

            
            <p>Microsoft's debut of the<a href="#"> Surface family of tablets</a> wowed on several levels yesterday, not the least of which is the fact that Redmond will be moving into direct competition with some of the hardware partners it relied upon to build the dominance of <strong>Windows</strong>. Acer and Lenovo have both shown off Windows 8 tablets in recent weeks, with Dell, HP, and others expected to follow. Microsoft's first-party option now has the potential to upset what has been a stable relationship between hardware maker and software provider. We reached out to <a href="#">Microsoft's</a> partners for their response, and found them quite reluctant to comment on the situation.</p>
            
            <p><span class="quote_right">Surface: PC makers offer no comment as reports conflict on when Microsoft gave them the news</span> HP and Acer declined to offer statements on Microsoft's product plans or its implications for the Windows 8 tablet market. Dell, however, noted that Microsoft was &quot;an important partner&quot; for the company and that it would be delivering Windows 8 tablets of its own later in the year. Lenovo toed the same line, though a company representative did state that its selection of Android and Windows-based tablets put it in a &quot;very strong position&quot; to win &quot;against all comers.&quot;</p>
            <p>Meanwhile, a <a href="#">report from Reuters</a> claims that many PC manufacturers were kept &quot;in the dark&quot; about Surface. Citing anonymous sources, the report claims that the earliest they had gotten word was last Friday, and furthermore said that Acer and Asustek first heard the news from the conference itself. However, an earlier Bloomberg story specifically cites </p>
            <p>When exactly manufacturers learned about Surface is one thing, what they think of it now is quite another. Even though the companies we reached out to universally declined to provide any comment on Surface itself, we expect Ballmer's prediction that OEMs would &quot;opine&quot; will come true soon enough. In fact, it may be starting already, with Digitimes reporting that Acer founder Stan Shih doesn't see Microsoft's hardware intentions as genuine at all. Instead, Shih reportedly feels the Surface is an effort to encourage other manufacturers to produce Windows 8 tablets, and that he expects Microsoft to bow out of the tablet hardware race once Windows 8 gains momentum. We'll see if other manufacturers agree in the months to come.</p>
                       
            
            <div class="clear"></div>            
            </div>
            
            	<!-- author description -->
                <div class="author-box">
                    <div class="author-description">
                		<div class="author-image"><img src="images/temp/author_image.jpg" alt=""><span class="author">the author</span></div>
                      	<div class="author-text">
                            <p>Britain’s phone <a href="#">Sergiu Bagrin</a> hacking claimed another casualty on Monday when Yates, the deputy of London’s Metropolitan Police, resigned a day after the country’s top police officer quit and Rebekah Brooks, the former chief </p>
                        </div>
                        <div class="clear"></div>
                	</div>        
                </div>
                <!--/ author description -->
                
        </article>
        
        <!-- post comments -->
					<div class="comment-list" id="comments">
                           
                        	<h2>256 Readers Commented</h2>
                            
                            <a href="#addcomments" class="link-add-comment anchor">Join discussion</a>
                            
                            <ol>
								<li class="comment">
                                
                                    <div class="comment-body">
                                    <div class="comment-avatar">
                                    	<div class="avatar"><img src="images/temp/gavatar_1.jpg" alt=""></div>
                                    </div>    
                                    <div class="comment-text">
                                    	<div class="comment-author">
                                        	<a href="#" class="link-author">Bogdan</a> <a href="#" class="link-reply">Reply</a> <span class="comment-date">on May 25, 2012</span>
                                        </div>
                                        <div class="comment-entry">
                                        Britain’s phone hacking claimed another casualty on Monday when Yates, the deputy of an London’s Metropolitan Police, resigned a day after the country’s top police officer quit and Rebekah Brooks, the former chief executive of Rupert Murdoch’s News International end
                                      </div>
                                    </div>
                                    <div class="clear"></div>
                                    </div>
                                    
                                    <!-- comment reply -->
                                    <ul class="children">
                                        <li class="comment">
                                            <div class="comment-body">
                                                <div class="comment-avatar">
                                                    <div class="avatar"><img src="images/temp/gavatar_2.jpg" alt=""></div>
                                                </div> 
                                                <div class="comment-text">
                                                	<div class="comment-author">
			                                        <span class="link-author">Dimi Baitanciuc</span> <a href="#addcomment" class="link-reply">reply</a> <span class="comment-date">on June 2, 2012</span>
			                                        </div>
                                                    <div class="comment-entry">
                                                    Rebekah Brooks, the former chief executive of Rupert Murdoch’s News International was arrested on suspicion of illegally intercepting phone calls and bribing the police.
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            
                                    		
                                        </li>
                                        
                                    </ul>
                                    <!--/ comment reply -->
                                </li>
                                
                                <li class="comment">
                                    <div class="comment-body">
                                
                                    <div class="comment-avatar">
                                    	<div class="avatar"><img src="images/temp/gavatar_3.jpg" alt=""></div>
                                    </div> 
                                    <div class="comment-text">
                                   		<div class="comment-author">
			                            	<a href="#" class="link-author">Sergiu Bagrin</a> <span class="isauthor">Author</span> <a href="#addcomment" class="link-reply">reply</a> <span class="comment-date">on June 8, 2012</span>
			                            </div>                                        
                                        <div class="comment-entry">
                                        Britain’s phone hacking claimed another casualty on Monday when Yates, the deputy of London’s Metropolitan Police, resigned a day after the country’s top police officer quit and 
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    </div>
                                </li>
                                
                                <li class="comment">
                                    <div class="comment-body">
                                
                                    <div class="comment-avatar">
                                    	<div class="avatar"><img src="images/temp/gavatar_4.jpg" alt=""></div>
                                    </div> 
                                    <div class="comment-text">
                                   		<div class="comment-author">
			                            	<a href="#" class="link-author">Superman</a> <a href="#addcomment" class="link-reply">reply</a> <span class="comment-date">on June 23, 2012</span>
			                            </div>                                        
                                        <div class="comment-entry">
                                        Monday when Yates, the deputy of an London’s Metropolitan Police, resigned a day after the country’s top police officer quit and Rebekah Brooks, the former CEO
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    </div>
                                </li>
                                
                            </ol>
                        </div>
				<!--/ post comments -->
                
                <!-- add comment -->
                        <div class="add-comment" id="addcomments">
                            <h3>Have something to say?</h3>
                            
                            <div class="comment-form">
                            <form action= "#" method="post" id="commentForm">
                                
                                <div class="row field_text alignleft">
                                    <label class="label_title"><strong>Name</strong></label>
                                    <input type="text" name="name" value="" class="inputtext input_middle required">
                                </div>
                                
                                <div class="row field_text alignleft omega">
                                    <label class="label_title"><strong>Email</strong> (never published)</label>
                                    <input type="text" name="email" value="" class="inputtext input_middle required">
                                </div>
								
                                <div class="clear"></div>   
                                
                                <div class="row field_text">
                                    <label class="label_title"><strong>Website</strong></label>
                                    <input type="text" name="url" value="" class="inputtext input_full">
                                </div>                                
                                
                                <div class="row field_textarea">
                                    <label class="label_title"><strong>Comment</strong></label>
                                    <textarea cols="30" rows="10" name="message" class="textarea textarea_middle required"></textarea>
                                </div>
                                
                                <div class="row rowSubmit">
                                <input type="submit" value="Say it" class="btn-submit">
                                </div>
                            </form>
                            </div>
                        </div>
                <!--/add comment -->
        
	</div>
    <!--/ content -->
    
    <!-- sidebar -->
    <div class="sidebar">

		<!-- recent entries -->
    	<div class="widget-container widget_recent_entries">
        	<img src="images/icons/icons_16_date.png" alt="" class="widget_icon">  
			<h3 class="widget-title">Latest Headlines</h3>
                <ul>
                    <li>
                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
                    </li>
                    <li>
                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
                    </li>
                    <li>
                        <a href="post-details.html"><img src="images/temp/post_thumb_3.jpg" alt="" class="thumbnail"></a> 
                        <div class="recent_entry"><a href="post-details.html" class="link-name">Google threatens site that rips YouTube music videos into MP3s</a></div>
                    </li>
                    <li>
                        <a href="post-details.html"><img src="images/temp/post_thumb_4.jpg" alt="" class="thumbnail"></a> 
                        <div class="recent_entry"><a href="post-details.html" class="link-name">Google bots detect 9,500 new malicious websites every day</a></div>
                    </li>
				</ul>
        </div>
    	<!--/ recent entries -->
        
        <!-- posts with thumbs -->
        <div class="widget-container postThumbs">
        	
            <img src="images/icons/icons_16_latest.png" alt="" class="widget_icon">  
			<h3 class="widget-title">Latest Reviews</h3>
            
            	<div class="postThumbs-container">                
                            <div class="post-slide">	
                            	<div class="score_box">7,5 <span>our score</span></div>                    		                        	
			                	<div class="post-image">
			                    	<a href="post-details.html"><img src="images/temp/post_thumb_4.jpg" width="78" height="78" alt=""></a>
			                   	  	<div class="post-cat"><span>Reviews</span></div>                                  
			                  	</div>
				            	<div class="post-title">				            	
							    	<h2><a href="post-details.html">Hands-on: app lets you Bump smartphone pics to your computer</a></h2>                        
							    </div>	                        
				                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
				        	</div>
                            
                            <div class="post-slide">	
                            	<div class="score_box">8 <span>our score</span></div>                    		                        	
			                	<div class="post-image">
			                    	<a href="post-details.html"><img src="images/temp/post_thumb_3.jpg" width="78" height="78" alt=""></a>
			                   	  	<div class="post-cat"><span>Reviews</span></div>                                  
			                  	</div>
				            	<div class="post-title">				            	
							    	<h2><a href="post-details.html">Google Glasses patent hints at speech-to-text display for deaf users</a></h2>                        
							    </div>	                        
				                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
				        	</div>
	    		</div>                          
	    </div>  
	    <!--/ posts with thumbs -->
        
        <!-- widget_tag_cloud -->
        <div class="widget-container widget_tag_cloud">
        	<img src="images/icons/icons_16_tag.png" alt="" class="widget_icon">  
                    <h3 class="widget-title">Tags</h3>
                    <div class="tagcloud">
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 10pt;'>Tecnology</a>
                        <a href='#' class='tag-link-7' title='3 topics' style='font-size: 15pt;'>Tablets</a>
                        <a href='#' class='tag-link-3' title='2 topics' style='font-size: 10pt;'>MIcrosoft</a>
                        <a href='#' class='tag-link-6' title='3 topics' style='font-size: 17pt;'>Rumor</a>
                        <a href='#' class='tag-link-5' title='2 topics' style='font-size: 10pt;'>Appolo</a>
                        <a href='#' class='tag-link-5' title='2 topics' style='font-size: 13pt;'>Games</a>
                        <a href='#' class='tag-link-5' title='2 topics' style='font-size: 15pt;'>HTC</a>
                        <a href='#' class='tag-link-5' title='2 topics' style='font-size: 12pt;'>Fashion</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 10pt;'>Gosip</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 17pt;'>Windows Mobile</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 13pt;'>Reviews</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 13pt;'>Downloads</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 15pt;'>Software</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 13pt;'>Mobile</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 17pt;'>Report</a>
                        <a href='#' class='tag-link-4' title='2 topics' style='font-size: 13pt;'>Nokia</a>
                    </div>
			</div>
			<!--/ widget_tag_cloud -->
        
        <div class="adv_300">
		<img src="images/temp/ads_300x250.jpg" width="300" height="250" alt="">
		</div>
        
        <div class="adv_300">
		<img src="images/temp/ads_300x250_2.jpg" width="300" height="250" alt="">
		</div>
                    
    </div>
    <!--/ sidebar -->
    
    <div class="divider"></div>
    
    <!-- grid layout, 3 cols -->
            <div class="posts_layout grid_layout">
            
            	<div class="post-item title-over">	                    		                        	
                	<div class="post-image">
                    	<a href="post-details.html"><img src="images/temp/post_3_1.jpg" width="300" height="192" alt=""></a>
                   	  	<div class="post-cat"><span>Reviews</span></div>
                        <div class="score_box">5 <span>our score</span></div>
                  	</div>
	            	<div class="post-title">				            	
				    	<h2><a href="post-details.html">Hands-on: app lets you Bump smartphone pics to your computer</a></h2>                        
				    </div>	                        
	                <div class="post-meta"><a href="#" class="author">Dimi Baitanciuc</a> <span class="separator">|</span> <a href="#">15 Comments</a></div>	              
	        	</div>
                
                <div class="post-item title-over">	                    		                        	
                	<div class="post-image">
                    	<a href="post-details.html"><img src="images/temp/post_3_2.jpg" width="300" height="192" alt=""></a>
                   	  	<div class="post-cat"><span>Technology</span></div>                        
                  	</div>
	            	<div class="post-title">				            	
				    	<h2><a href="post-details.html">Google Glasses patent hints at speech-to-text display for deaf users</a></h2>                        
				    </div>	                        
	                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
	        	</div>
                
                <!-- post with slider -->
                	<div class="post-item postThumbs postSliderThumbs">
	                
		                <div class="postThumbs-container" id="postSlider2">
		                	
                            <div class="post-slide">	  
                            	<div class="score_box">6,4 <span>our score</span></div>                  		                        	
			                	<div class="post-image">
			                    	<a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" width="78" height="78" alt=""></a>
			                   	  	<div class="post-cat"><span>Reviews</span></div>                                                         
			                  	</div>                                
				            	<div class="post-title">				            	
							    	<h2><a href="post-details.html">Samsung stops teasing and finally delivers its flagship Android device for 2012 can the Galaxy S III live up to its mighty promise? Let’s find out</a></h2>                        
							    </div>	                        
				                <div class="post-meta"><a href="#" class="author">Dan Belciug</a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
				        	</div>
                            
                            <div class="post-slide">	
                            	<div class="score_box">7,5 <span>our score</span></div>                    		                        	
			                	<div class="post-image">
			                    	<a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" width="78" height="78" alt=""></a>
			                   	  	<div class="post-cat"><span>Reviews</span></div>                                  
			                  	</div>
				            	<div class="post-title">				            	
							    	<h2><a href="post-details.html">Hands-on: app lets you Bump smartphone pics to your computer</a></h2>                        
							    </div>	                        
				                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
				        	</div>
                            
                            <div class="post-slide">	
                            	<div class="score_box">8 <span>our score</span></div>                    		                        	
			                	<div class="post-image">
			                    	<a href="post-details.html"><img src="images/temp/post_thumb_3.jpg" width="78" height="78" alt=""></a>
			                   	  	<div class="post-cat"><span>Reviews</span></div>                                  
			                  	</div>
				            	<div class="post-title">				            	
							    	<h2><a href="post-details.html">Google Glasses patent hints at speech-to-text display for deaf users</a></h2>                        
							    </div>	                        
				                <div class="post-meta"><a href="#" class="author">Bogdan Condurache </a> <span class="separator">|</span> <a href="#">9 Comments</a></div>
				        	</div>
			                
		                </div>    
	                              
	                	<div class="clear"></div>
	                	<div class="postSlider_pag" id="postSlider2_pag"></div>
	                </div>  
	                <script>
						jQuery(document).ready(function($) {
							$('#postSlider2').carouFredSel({
								pagination : "#postSlider2_pag",
								auto: false,
								scroll: {
							        fx: "fade",
									duration: 200
							    }
							});
						});
					</script>
	            <!--/ post with slider -->
                        
			<div class="clear"></div>	 
            </div>
            <!-- grid layout, 3 cols -->
        	
</div>
<!--/ middle --> 
</div>
<!--/ container --> 

<footer>
<div class="container" style="background-image:url(images/header_img_blue.jpg); background-color:#097bb6">

    <div class="footer_right">
    	<ul class="botmenu">
        	<li><a href="about.html">ABOUT</a></li>
            <li><a href="#">AUTHORS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="advertise.html">ADVERTISE</a></li>
            <li><a href="#">PRIVACY</a></li>
            <li><a href="#">TERMS</a></li>
        </ul>
    </div>
    
    <div class="footer_left">
   		<img src="styles/blue/logo_footer.png" width="230" height="50" alt="">
    </div>
	
    <div class="clear"></div>
    
</div>
</footer>

</div>
</body>
</html>