@media only screen and (min-width: 320px) {
	
	.container {
		width:310px}
	
	.col {
		margin: 5px 0;}
		
	/* headers */
	h1 {font-size:30px;}	
	h2 {font-size:28px;}		
	h3 {font-size:22px;}		
	h4 {font-size:18px;}		
	h5 {font-size:18px;}		
	h6 {font-size:18px;}	
	.title { margin:0 0 30px 0}
	.title h1 { font-size:30px;}
	.tags {
		display:block;
		margin:0 0 10px 0}
		
	/* Columns width's
	--------------------------------------------------*/
	.col_1,
	.col_1_2,
	.col_1_3,
	.col_2_3,
	.col_1_4,
	.col_3_4{width:300px}
	
	/* Columns inside ROW */
	.row .col_1, .cols2 .content .row .col_1,
	.row .col_1_2, .cols2 .content .row .col_1_2,
	.row .col_1_3, .cols2 .content .row .col_1_3,
	.row .col_2_3, .cols2 .content .row .col_2_3,
	.row .col_1_4, .cols2 .content .row .col_1_4,
	.row .col_3_4, .cols2 .content .row .col_3_4 {width:310px}
		
	/* Header */
	.header_container {
		width:310px;}
	
	.header_container header {
		padding:0;
		height:auto}
	
	.logo {
		padding:0 5px;	}
		
	.header_left {
		width:300px;
		height:90px;
		padding:0;}
		
	.header_right {
		width:300px;
		height:38px;}
	
	.logo-text {
		font-size:60px;
		line-height:0.67em;
		height:1.32em;
		text-indent:5px;}
	
	/* header search */
	.top_btn {
		bottom:auto;
		top:0}
		
	.topsearch .btn-search {
		background-position:0 -66px;
		-webkit-border-radius: 0px 0px 2px 2px;
		border-radius: 0px 0px 2px 2px;
		-webkit-box-shadow: inset 0px -1px 3px 0px #676767;
		box-shadow: inset 0px -2px 3px 0px #676767;}
	
	.topsearch .stext {
		-webkit-border-radius: 0px 0px 0px 2px;
		border-radius: 0px 0px 0px 2px;
		-webkit-box-shadow:none;       
    	box-shadow: none;
		padding:8px 10px 7px 10px;
		height:20px;
		-webkit-appearance: none;
		margin-top:-1px}
		
	.link_view_grid, .link_view_list {
		display:none;}
		
	/* topmenu */
	#topmenu {
		width:100%;}
	
	#topmenu .dropdown {
		display:none}
		
	#topmenu .select_styled {
		width:300px;
		height:32px;
		padding:5px;
		line-height:1em;
		margin-left:5px}
		
	#topmenu .select_styled option {
		padding:5px 0}
	
	.topbar {
		margin:0 0 30px 0}	
	
	.top_share .social_title {
		display:none;}
	
	.top_filter a {
		width:23px;
		padding-left:0;
		margin:10px 1px 5px 1px;
		overflow:hidden;
		text-indent:-400px;}
	
	.top_filter {
		text-align:center;}
	
	/* Top Slider and Carousel */
	.topSlider .container {
		width: 310px;
		height:235px;}
	
	.topSlider li {
		width: 308px;
		height:197px;}
	
	.topSlider .slide_1_4 {
		width:153px}
	.topSlider .slide_1_2 {
		width:308px}
	.topSlider .slide_1 {
		width:308px}
	
	.slide_caption a,
	.entry .slide_caption a,
	.topSlider .slide_caption a {
		font-size:16px}
	
	.ts_pagination {
		display:none !important}
	
	.score_box {
		font-size:32px;
		height:45px;
		width:55px;
		padding-top:10px}
	.score_box span {
		padding-top:6px}		
	
	/* Middle content */
	#middle .content,
	#middle.sidebar_left .content {
		width:310px;
		margin-left:0px}
	
	#middle .sidebar,
	#middle.sidebar_left .sidebar {
		width:300px;
		margin:0;
		padding:40px 5px 20px 5px;
		background:url(images/divider_line_half.png) center top no-repeat;}
	
	#middle.full_width .content,
	#middle.full_width .post-detail {
		width:310px;}		

	/* footer */
	footer .container {
		padding:0}
	.footer_left, .footer_right {
		width:310px}
	.botmenu {
		font-size:15px;
		text-align:center;}
	.botmenu li {
		padding:0 4px 0 5px}
	
	.frame_left, .frame_right {
		margin:0 auto 20px auto;
		text-align:center;
		float:none;
		display:inline-block;}
	
	.quote_right, .quote_left, .quote_center, blockquote {
		font-size:25px;
		float:none;
		width:100%;
		margin:20px auto;
		padding:0;
		text-align:center;
		display:block;}
	
	.toggle_content.boxed {
		padding:15px;
		border:6px solid #ffd800;
		font-size:85%;}
	
	.tabs_framed .tabs li a {
		font-size:19px;
		padding:0 10px;
		line-height:35px}
	
	/* Slideshow Gallery and Text */
	.slideshow .slides_container,
	.slideshow .slides_container .slide,
	.slideshow.slideText .slides_container {
		width:300px;}
	
	.slideGallery .slides_container .slide {
		height:168px;}
		
	.slideshow.slideText .slides_container .slide{
		width:280px}
	.slideshow .pagination {
		margin:10px auto;
		width:120px}
	
	.slideshow.slideQuotes .slides_container {
		width:250px;
		padding:20px 10px 10px 35px;
		background-position:10px 15px;}
	.slideshow.slideQuotes .slides_container .slide{	
		width:250px}
	.slideshow.slideQuotes .slides_container .quote-text {
		padding-bottom:10px}
		
	/* sidebar */
	.sidebar .widget-container,
	.content .widget-container {
		padding-bottom:20px;
		padding-top:25px;
		border:none}
	
	.widget-container.boxed,
	.sidebar .widget-container.boxed:first-child {
		border:2px solid #e4e4e4;
		padding:20px}
	
	.newsletterBox.boxed .inputField,
	.newsletterBox .inputField {
		width:160px;
		padding:6px 60px 6px 10px}	
	.newsletterBox input.btn-arrow {
		width:48px;
		margin:3px 0 0 -55px;}
	.widget_search .inputField {	
		width:135px}
	.widget_search.boxed .inputField {	
		width:145px}	
	.widget_search input.btn-submit {
		width:70px}
	
	/* pricing table */
	.price_col_head {
		min-height:100px;}
	.entry .col_active .price_col_head {
		min-height:115px}
	.price_col_head .price {
		height:28px;
		padding:10px 0 15px 0;
		font-size:17px;}
	.price_col_head .price em {
		font-size:13px;}	
	.price_col_head strong {
		padding-top:25px;
		font-size:19px;}
	.entry .price_col_body ul li {
		font-size:13px;}
	
	/* Styled Tables and Boxes */
	.styled_table table tr th,
	.sb .box_title	{
		font-size:17px;}
	
	.styled_table table tr th, 
	.styled_table table tr td,
	.sb .box_title	{
		padding:5px 10px;}	
	.styled_table table tbody td,
	.sb .box_content {
		padding:5px 10px;
		font-size:13px;}
	
	.box_cols {
		padding:10px 20px;}
	.cols2 .content .box_cols .col_1_2:first-child {
		border-right:none}	
	.cols2 .content .box_cols .col_1_2 {
		width:255px;
		padding-right:0}
	
	/* posts */
	.author-text {
		display:inline;
		width:auto;
		float:none;}
	/* post with slideshow */
	.postSlider .post-slide {
		width:300px;		
		min-height:300;}
	.postSlider .slide_image {
		width:300px;
		height:168px;}
	.postSlider .slide_image img {
		height:168px}
	.entry .postSlider .slide_caption a {
		line-height:18px;
		padding:1px 5px 1px 0;}
		
	.postSlider_pag,
	.entry .postSlider_pag {
		top:190px;}	
	.postThumbs .postSlider_pag {
		top:65px}
	
	/* posts in box */
	.entry .post_box .post-title h2 {
		font-size:18px;
		background-position: 0 -125px}

	.post-cat,
	.grid_layout .post-cat,
	.postThumbs .post-cat,
	.grid_layout .postThumbs .post-cat {
		right:-32px;
		background:none}
	
	.grid_layout .post-cat,
	.list_layout .post-cat {
		right: auto;
		left:-5px;}
	.postThumbs .post-cat,
	.grid_layout .postThumbs .post-cat{
		left:auto;
		right:-5px;}
	
	/* grid and list layout */
	.grid_cols2 .post-item,
	.col_1_2 .grid_cols2 .post-item {
		width:300px;}
	.grid_layout .post-descr {
		height:110px;
		overflow:hidden}
	.list_layout .post-descr {
		padding-right:0px}
	
	.list_layout .post-image,
	.list_layout .image_left .post-image,
	.list_layout .image_right .post-image {
		margin:0 0 5px 0;
		float:none;}
	
	/* Comment list & Comment form / Contact form */
	.comment-list h2,
	.add-comment h3,
	.entry .add-comment h3 {
		font-size:25px;
		margin:0 0 10px 0;}
			
	a.link-add-comment {
		font-size:25px;
		position:relative;
		float:right;
		margin-bottom:20px}
	
	.children li {
		padding-left:0px}
	
	.add-comment {
		margin-left:10px}
	.comment-form .row {
		margin-right:20px}
	
	.comment-form .input_full,
	.comment-form .inputtext,
	.comment-form .textarea {
		width:260px}
		
	.comment-form .textarea {
		height:100px;}
	
	/* Advertise Boxes */
	.adv_head, .adv_468 {
		display:none;}
	
	.adv_before_content {
		width:300px}
	
}

@media only screen and (min-width: 480px) {  
	
	.container {
		width:432px}
	
	.col {
		margin:5px 0;}
		
	/* Columns width's
	--------------------------------------------------*/
	.col_1,
	.col_1_2,
	.col_1_3,
	.col_2_3,
	.col_1_4,
	.col_3_4 {width:432px}
	
	/* Columns inside ROW */
	.row .col_1, .cols2 .content .row .col_1,
	.row .col_1_2, .cols2 .content .row .col_1_2,
	.row .col_1_3, .cols2 .content .row .col_1_3,
	.row .col_2_3, .cols2 .content .row .col_2_3,
	.row .col_1_4, .cols2 .content .row .col_1_4,
	.row .col_3_4, .cols2 .content .row .col_3_4 {width:432px}
	
	/* Header */
	.header_container {
		width:432px;}
	
	.header_container header {
		padding:0;
		height:auto}
	
	.logo {
		padding:0 5px;	}
		
	.logo img {
		margin-top:-40px}
	
	.header_left {
		width:432px;}
		
	.header_right {
		width:432px;}
	
	.logo-text {
		font-size:60px;
		line-height:0.67em;
		height:1.32em;
		text-indent:5px;}
	
	/* topmenu */		
	#topmenu .select_styled {
		margin-left:66px}	
	
	/* Top Slider and Carousel */
	.topSlider .container {
		width: 432px;
		height:310px;}
	
	.topSlider li {
		width: 430px;
		height:276px;}
	
	.topSlider .slide_1_4 {
		width:214px}
	.topSlider .slide_1_2 {
		width:430px}
	.topSlider .slide_1 {
		width:430px}
	
	/* Middle content */
	#middle .content,
	#middle.sidebar_left .content {
		width:432px;}
	
	#middle .sidebar,
	#middle.sidebar_left .sidebar {
		width:300px;
		margin:0 auto;
		padding:40px 5px 20px 66px;
		background:url(images/divider_line_half.png) center top no-repeat;}
	
	#middle.full_width .content,
	#middle.full_width .post-detail {
		width:432px;}		

	/* footer */		
	.footer_left, .footer_right {
		width:432px}
	.botmenu {
		font-size:17px;
		text-align:right;}
	.botmenu li {
		padding:0 4px 0 5px}
		
	.frame_left {
	  	float:left;
	  	display:block;
	  	margin:5px 10px 5px 0}
	
	.frame_right {
	  	float:right;
	  	display:block;
	  	margin:5px 0 5px 10px}
	
	/* Slideshow Gallery and Text */
	.slideshow .slides_container,
	.slideshow .slides_container .slide,
	.slideshow.slideText .slides_container {
		width:424px;}
	
	.slideGallery .slides_container .slide {
		height:239px;}
		
	.slideshow.slideText .slides_container .slide{
		width:400px}
	
	.slideshow.slideQuotes .slides_container {
		width:380px;
		padding:20px 10px 10px 35px;
		background-position:10px 15px;}
	.slideshow.slideQuotes .slides_container .slide{	
		width:370px}
	.slideshow.slideQuotes .slides_container .quote-text {
		padding-bottom:10px}
		
	/* sidebar */
	.sidebar .widget-container,
	.content .widget-container {
		padding-bottom:20px;
		padding-top:25px;
		border:none}
	
	.widget-container.boxed,
	.sidebar .widget-container.boxed:first-child {
		border:2px solid #e4e4e4;
		padding:20px}

	.box_cols {
		padding:10px;}
	.cols2 .content .box_cols .col_1_2 {
		width:204px;
		padding-right:0}
	
	/* posts */
	/* post with slideshow */
	.postSlider .post-slide {
		width:432px;		
		min-height:300px;}
	.postSlider .slide_image {
		width:432px;
		height:242px;}
	.postSlider .slide_image img {
		height:242px}
	.entry .postSlider .slide_caption a {
		line-height:18px;
		padding:1px 5px 1px 0;}
		
	.postSlider_pag,
	.entry .postSlider_pag {
		top:265px;}	
	.postThumbs .postSlider_pag {
		top:65px}
	
	/* posts in box */
	.entry .post_box .post-title h2 {
		font-size:22px;
		background-position: 0 -123px}
	
	/* grid and list layout */
	.grid_layout .post-item {
		width:196px;
		float:left;}			
		
	.grid_cols2 .post-item{
		width:196px;}
	
	.col_1_2 .grid_cols2 .post-item {
		width:432px;}
	
	.postThumbs, .post-item.postThumbs {
		margin-top:30px}
	.post-item.postThumbs,
	.postSliderThumbs .post-slide {
		width:430px}
	
	.posts_layout h2,
	.entry .posts_layout h2 {
		font-size:22px;
		line-height:22px;}
	
	.postThumbs .post-title {
		padding-top:7px}
	.postThumbs .post-title h2 {
		font-size:22px;}
		
	.title-over .post-title {
		margin-top:-27px}
	
	.list_layout .post-descr {
		clear:both}
	
	.list_layout.image_small .post-image {
		width:196px;}
		
	.list_layout.image_small .post-image,
	.list_layout.image_small.image_left .post-image {
		margin:0 10px 0 0;
		float:left;}
	.list_layout.image_small.image_right .post-image {
		margin:0 0 0 10px;
		float:right;}
	
	.post_carousel li {
		width:185px;
		height:118px}
	.post_carousel .prev,
	.post_carousel .next {
		height:118px}
	.post_carousel .slide_caption {
		bottom:2px}
	.post_carousel .slide_caption a {
		font-size:15px;
		font-weight:normal;}
	
	/* Comment list & Comment form / Contact form */
	.add-comment {
		margin-left:10px}
		
	.comment-form .input_full,
	.comment-form .inputtext,
	.comment-form .textarea,
	.comment-form .select_styled {
		width:360px}
	
	/* Advertise Boxes */
	.adv_head, .adv_468 {
		display:none;}
	
	.adv_before_content {
		width:432px}
	
}

@media only screen and (min-width: 768px)  {
	
	.container {
		width:756px}
	
	.col {
		margin:0 10px;}
		
	/* headers */
	h1 {font-size:35px;}	
	h2 {font-size:32px;}		
	h3 {font-size:28px;}		
	h4 {font-size:24px;}		
	h5 {font-size:22px;}		
	h6 {font-size:20px;}		
	.title h1 { font-size:40px;}
	.tags {
		display:inline;
		margin:0 15px 0 0}
		
	/* Columns width's
	--------------------------------------------------*/
	.col_1 {width:736px}
	.col_1_2 {width:358px}
	.col_1_3 {width:232px}
	.col_2_3 {width:484px}
	.col_1_4 {width:169px}
	.col_3_4 {width:547px}

	/* Columns inside ROW */
	.row .col_1 {width:756px}
	.row .col_1_2 {width:368px}
	.row .col_1_3 {width:238px}
	.row .col_2_3 {width:498px}
	.row .col_1_4 {width:174px}
	.row .col_3_4 {width:562px}
	
	/* Columns inside ROW with Sidebar */
	.cols2 .content .row .col_1,
	.cols2 .content .row .col_1_2,
	.cols2 .content .row .col_1_3,
	.cols2 .content .row .col_2_3,
	.cols2 .content .row .col_1_4,
	.cols2 .content .row .col_3_4 {width:432px}
		
	/* Header */
	.header_container {
		width:756px;}
	
	.header_container header {
		padding:0;
		height:auto}
		
	.header_full header {
		padding-top:17px;}
	
	.logo {
		padding:0}
		
	.logo img {
		margin-top:0}
	
	.header_left {
		width:420px;
		height:auto;
		padding-left:10px;}
		
	.header_right {
		width:316px;
		height:130px}
	
	.logo-text {
		font-size:88px;
		line-height:0.65em;
		height: auto;
		text-indent:0px;}
	
	/* header search */
	.top_btn {
		top:auto;
		bottom:0}
		
	.topsearch .btn-search {
		-webkit-border-radius: 2px 2px 0px 0px;
		border-radius: 2px 2px 0px 0px;
		-webkit-box-shadow: inset 0px -1px 3px 0px #676767;
		box-shadow: inset 0px -1px 3px 0px #676767; }
	
	.topsearch .stext {
		-webkit-border-radius: 2px 0px 0px 0px;
		border-radius: 2px 0px 0px 0px;
		margin-right:-2px;
		padding:10px 10px 5px 10px;
		margin-top:0;
		height:19px}
		
	.link_view_grid, .link_view_list {
		display:block;}
	
	.top_filter a {
		width:auto;
		padding-left:23px;
		margin:8px 15px 0 10px;
		overflow: visible;
		text-indent:0;}
	
	.top_filter {
		text-align:left;}
	
	.top_share {
		width: auto;}		
	
	/* Topmenu */
	.dropdown li ul.submenu-1 {
		max-width:750px}
	#topmenu .dropdown {
		display:block}
	.dropdown li ul .mega-nav-widget {
		width:260px;}	
	.dropdown li ul .mega-nav-widget li {
		width:220px}	
	.dropdown .mega-nav ul li .widget-container {
		padding:0 15px}		
	.dropdown .mega-nav ul li .widget_featured_posts li .thumbnail {
		width:40px;
		height:40px;}
	.dropdown .mega-nav ul li .widget_featured_posts li .recent_entry {
		width:165px;}
	.dropdown .mega-nav ul li .widget_recent_entries li a.link-name {
		width:180px}
	
	/* Top Slider and Carousel */
	.topSlider .container {
		width: 756px;
		height:280px;}
	
	.topSlider li {
		width: 187px;
		height:241px;}
	
	.topSlider .slide_1_4 {
		width:187px}
	.topSlider .slide_1_2 {
		width:376px}
	.topSlider .slide_1 {
		width:754px}
	
	.slide_caption a,
	.entry .slide_caption a,
	.topSlider .slide_caption a {
		font-size:22px;
		line-height:1em;}
	
	/* Middle content */
	#middle .content,
	#middle.sidebar_left .content {
		width:432px;
		float:left;}
	
	#middle.sidebar_left .content {
		float:right;}
	
	#middle .sidebar{
		width:300px;
		margin:0 0 0 20px;
		padding:0 0 20px 0;
		background:none;
		float:left;}
	
	#middle.sidebar_left .sidebar {
		margin:0 20px 0 0;
		padding:0 0 20px 0;}
	
	#middle.full_width .content,
	#middle.full_width .post-detail {
		width:756px;}		

	/* footer */		
	footer .container {
		width:736px;
		padding:0 5px}
	.footer_left {
		width:300px}	
	.footer_right {
		width:436px}

	.botmenu li {
		padding:0 7px}
		
	.frame_left {
	  	margin:5px 20px 5px 0}	
	.frame_right {
	  	margin:5px 0 5px 20px}
	
	/* sidebar */
	.content .widget-container {
		border:none}
	
	.sidebar .widget-container {
		border-left:1px solid #cecece;}

	.cols2 .content .box_cols .col_1_2 {
		width:184px;}	
			
	.newsletterBox.boxed .inputField {
		padding:6px 40px 6px 10px;
		width:200px}	
	.newsletterBox input.btn-arrow {
		width:28px;
		margin:3px 0 0 -35px}
		
	.widget_search .inputField {	
		width:156px}
	.widget_search.boxed .inputField {	
		width:176px}
	.widget_search input.btn-submit {
		width:50px}
	
	/* posts */
	/* post with slideshow */
	.postSlider .post-slide {
		width:358px;		
		min-height:300px;}
	.postSlider .slide_image {
		width:358px;
		height:229px;}
	.postSlider .slide_image img {
		height:229px}
	.entry .postSlider .slide_caption a {
		line-height:22px;
		padding:0 10px 0 0;}
		
	.postSlider_pag,
	.entry .postSlider_pag {
		top:250px;}	
	.postThumbs .postSlider_pag {
		top:87px}
		
	/* grid and list layout */
	.grid_layout .post-item {
		width:232px}
		
	.grid_layout .post-item.post_adv {
		overflow:hidden}
	
	.cols2 .grid_layout .post-item {
		width:196px;
		float:left;}
	
	.grid_layout .post-descr {
		height:auto;}
		
	.grid_cols2 .post-item,
	.col_1_2 .grid_cols2 .post-item {
		width:358px;}
	
	.postThumbs, .post-item.postThumbs {
		margin-top:0}
		
	.post-item.postThumbs,
	.postSliderThumbs .post-slide {
		width:232px}
	
	.posts_layout h2,
	.entry .posts_layout h2 {
		font-size:22px;
		line-height:22px;}
	
	.postThumbs .post-title {
		padding-top:14px}
	.postThumbs .post-title h2 {
		font-size:25px;}
		
	.title-over .post-title {
		margin-top:-27px}
	
	.list_layout .post-descr {
		clear:both}
	
	.list_layout.image_small .post-image {
		width:196px;}
	.list_layout.image_small .image_left .post-image {
		margin:0 10px 0 0;
		float:left;}
	.list_layout.image_small .image_right .post-image {
		margin:0 0 0 10px;
		float:right;}
	
	.post_carousel li {
		width:219px;
		height:140px;}
	.post_carousel .prev,
	.post_carousel .next {
		height:140px}
	.post_carousel .slide_caption a {
		font-size:17px;}
	
	/* Comment list & Comment form / Contact form */
	.add-comment {
		margin-left:5px}
	
	/* Advertise Boxes */
	.adv_468, .col_1_3 .adv_300 {
		display:none;}
	
	.adv_head {
		display:block;}
	
	.adv_before_content {
		width:756px}
  	
}

@media only screen and (min-width: 990px) {
	
	.container {
		width:960px;}
		
	/* headers */
	h1 {font-size:45px;}	
	h2 {font-size:38px;}		
	h3 {font-size:32px;}		
	h4 {font-size:28px;}		
	h5 {font-size:25px;}		
	h6 {font-size:22px;}		
	.title h1 { font-size:45px;}
		
	/* Columns width's
	--------------------------------------------------*/
	.col_1 {width:940px}
	.col_1_2 {width:460px}
	.col_1_3 {width:300px}
	.col_2_3 {width:620px}
	.col_1_4 {width:220px}
	.col_3_4 {width:700px}

	/* Columns inside ROW */
	.row .col_1 {width:960px}
	.row .col_1_2 {width:470px}
	.row .col_1_3 {width:306px}
	.row .col_2_3 {width:634px}
	.row .col_1_4 {width:225px}
	.row .col_3_4 {width:715px}
	
	/* Columns inside ROW with Sidebar */
	.cols2 .content .row .col_1 {width:620px}
	.cols2 .content .row .col_1_2 {width:300px}
	.cols2 .content .row .col_1_3 {width:193px}
	.cols2 .content .row .col_2_3 {width:407px}
	.cols2 .content .row .col_1_4 {width:140px}
	.cols2 .content .row .col_3_4 {width:460px}
		
	/* Header */
	.header_container {
		width:980px;}
	
	.header_container header {
		padding:0 10px;
		height:130px;}
	
	.header_full header {
		padding-top:17px;}
	
	.header_left {
		width:540px;
		height:130px}
		
	.header_right {
		width:400px;
		height:130px}
	
	.top_share .social_title {
		display:inline-block;;}
	
	/* Topmenu */
	.dropdown li ul.submenu-1 {
		max-width:940px}
	.dropdown li ul .mega-nav-widget {
		width:300px;}	
	.dropdown li ul .mega-nav-widget li {
		width:250px}	
	.dropdown .mega-nav ul li .widget-container {
		padding:0 25px}		
	.dropdown .mega-nav ul li .widget_featured_posts li .thumbnail {
		width:60px;
		height:60px;}
	.dropdown .mega-nav ul li .widget_featured_posts li .recent_entry {
		width:175px;}
	.dropdown .mega-nav ul li .widget_recent_entries li a.link-name {
		width:200px}
	
	/* Top Slider and Carousel */
	.topSlider .container {
		width: 940px;
		height:335px;}
	
	.topSlider li {
		width:233px;
		height:300px;}
	
	.topSlider .slide_1_4 {
		width:233px}
	.topSlider .slide_1_2 {
		width:468px}
	.topSlider .slide_1 {
		width:938px}
	
	.slide_caption a,
	.entry .slide_caption a,
	.topSlider .slide_caption a {
		font-size:28px;
		line-height:1.2em;}
	
	.post_carousel .slide_caption {
		bottom:6px}
	.post_carousel .slide_caption a {
		font-size:17px;}
	
	.score_box {
		font-size:42px;
		width:78px;
		height:63px;
		padding-top:15px;}
	.score_box span {
		padding-top:12px}
	
	/* Middle content */
	#middle .content,
	#middle.sidebar_left .content {
		width:620px;}
	
	#middle.full_width .content,
	#middle.full_width .post-detail {
		width:960px;}		

	/* footer */
	footer .container {
		width:960px;
		padding:0 10px}
	
	.footer_right {
		width:660px}
	
	.quote_right, .quote_left, .quote_center, blockquote {
		font-size:32px;
		float:right;
		width:37%;
		margin:0;
		padding:3px 0 3px 30px;
		text-align:left;
		display: inline-block;}
	
	.quote_left {
		float:left;
		padding:3px 30px 3px 0}
	
	.quote_center, blockquote {
		float:none;
		display:block;
		width:85%;
		margin:20px auto;
		padding:0;
		text-align:center;}
	
	.frame_quote blockquote {
		margin:0}
	
	.toggle_content.boxed {
		padding:20px;
		border:12px solid #ffd800;
		font-size:100%;}
	
	.tabs_framed .tabs li a {
		font-size:21px;
		padding:0 15px 0 15px;}
	
	/* Slideshow Gallery and Text */
	.slideshow .slides_container,
	.slideshow .slides_container .slide,
	.slideshow.slideText .slides_container {
		width:578px;}
	
	.slideGallery .slides_container .slide {
		height:326px;}
		
	.slideshow.slideText .slides_container .slide{
		width:580px}
	.slideshow .pagination {
		margin:10px auto;
		width:120px}
	
	.slideshow.slideQuotes .slides_container {
		width:530px;
		padding:20px 0 10px 50px;
		background-position:20px 15px;}
	.slideshow.slideQuotes .slides_container .slide{	
		width:500px}
	.slideshow.slideQuotes .slides_container .quote-text {
		padding-bottom:5px}
	
	/* pricing table */
	.price_col_head {
		min-height:120px;}
	.entry .col_active .price_col_head {
		min-height:135px}
	.price_col_head .price {
		height:28px;
		padding:15px 0 20px 0;
		font-size:28px;}
	.price_col_head .price em {
		font-size:18px;}	
	.price_col_head strong {
		padding-top:25px;
		font-size:28px;}
	.entry .price_col_body ul li {
		font-size:14px;}
	
	/* Styled Tables and Boxes */
	.styled_table table tr th,
	.sb .box_title	{
		font-size:19px;}	
	.styled_table table tr th, 
	.styled_table table tr td,
	.sb .box_title	{
		padding:10px 15px;}	
	.styled_table table tbody td,
	.sb .box_content {
		padding:8px 15px;
		font-size:100%;}
		
	/* box_cols */	
	.box_cols {
		padding:25px 30px;}
	.cols2 .content .box_cols .col_1_2 {
		width:255px;}	
	.cols2 .content .box_cols .col_1_2:first-child {
		border-right:1px solid #d9dbda}
	
	/* posts */
	.post-cat,
	.grid_layout .post-cat,
	.postThumbs .post-cat,
	.grid_layout .postThumbs .post-cat {
		right:-42px;
		background:url(images/label_bg.png) right bottom no-repeat;}
	
	.grid_layout .post-cat,
	.list_layout .post-cat {
		background-position:left bottom;
		right: auto;
		left:-15px;}
	.postThumbs .post-cat,
	.grid_layout .postThumbs .post-cat{
		background-position:right bottom;
		left:auto;
		right:-15px;}
		
	/* post with slideshow */
	.postSlider .post-slide {
		width:460px;	
		min-height:410px;}
	.postSlider .slide_image {
		width:460px;
		height:258px;}
	.postSlider .slide_image img {
		height:258px}
	.entry .postSlider .slide_caption a {
		line-height:33px;}
		
	.postSlider_pag,
	.entry .postSlider_pag {
		top:275px;}	
	.postThumbs .postSlider_pag {
		top:65px}
		
	/* grid and list layout */
	.grid_layout .post-item {
		width:300px}
		
	.grid_layout .post-item.post_adv {
		overflow:hidden}
	
	.cols2 .grid_layout .post-item {
		width:300px;}
		
	.grid_cols2 .post-item,
	.col_1_2 .grid_cols2 .post-item {
		width:460px;}
	
	.grid_layout .post-descr {
		height:auto}
			
	.post-item.postThumbs,
	.postSliderThumbs .post-slide {
		width:300px}
	
	.posts_layout h2,
	.entry .posts_layout h2 {
		font-size:28px;
		line-height:33px;}
	
	.postThumbs .post-title h2 {
		font-size:28px;}
		
	.title-over .post-title {
		margin-top:-38px}
	
	.list_layout .post-descr {
		clear: none}
	
	.list_layout .post-title h2 {
		font-size:22px;
		line-height:1.2em;}
	
	.list_layout.image_small .post-image {
		width:219px;}
	
	.list_layout .post-image,
	.list_layout .image_left .post-image,
	.list_layout.image_small .image_left .post-image {
		margin:0 20px 0 0;
		float:left;}
	.list_layout .image_right .post-image,
	.list_layout.image_small .image_right .post-image {
		margin:0 0 0 20px;
		float:right;}
	
	/* Comment list & Comment form / Contact form */
	.add-comment {
		margin-left:0px}
	
	.comment-list h2,
	.add-comment h3,
	.entry .add-comment h3 {
		font-size:35px;
		margin:0 0 20px 0;}
		
	a.link-add-comment {
		font-size:35px;
		position:absolute;
		right:0;
		float:none;
		margin-bottom:0}
	
	.children li {
		padding-left:62px}

	.comment-form .row {
		margin-right:40px}
	
	.comment-form .inputtext {
		width:260px}
	.comment-form .select_styled {
		width:262px}
	
	.comment-form .input_styled {
		padding-right:2px}
			
	.comment-form .input_full,
	.comment-form .textarea {
		width:582px}		
	
	/* Advertise Boxes */
	.adv_before_content {
		width:960px}
	
	.ts_pagination,
	.adv_head, .adv_468,
	.col_1_3 .adv_300 {
		display:block !important}
}