<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>NewsSetter - Shortcodes: Tabs and Toggles</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700|Alike|Lato:400,700" rel="stylesheet">

<!-- Mobile viewport optimized: h5bp.com/viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<!-- favicon.ico and apple-touch-icon.png -->
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon-57x57-iphone.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72-ipad.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114-iphone4.png">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="screen.css">
<link rel="stylesheet" href="styles/blue.css">
<!-- custom CSS -->
<link rel="stylesheet" href="custom.css">

<!-- main JS libs  -->
<script src="js/libs/modernizr-2.5.3.min.js"></script>
<script src="js/libs/respond.min.js"></script>					 
<script src="js/libs/jquery.min.js"></script>

<!-- scripts  -->
<script src="js/jquery.easing.1.3.min.js"></script>
<script src="js/general.js"></script>
<script src="js/hoverIntent.js"></script>
<!-- carousel -->
<script src="js/jquery.carouFredSel.min.js"></script>
<script src="js/jquery.touchwipe.js"></script>
<!-- sliders -->
<script src="js/slides.min.jquery.js"></script>
<!-- SyntaxHighlighter -->
<link rel="stylesheet" href="css/shCore.css">
<link rel="stylesheet" href="css/shThemeDefault.css">
<script src="js/shCore.js"></script>
<script src="js/shBrushPlain.js"></script>
<!-- tabs -->
<script src="js/jquery.tools.min.js"></script>
  
</head>
<body>  
<div class="body_wrap">

<div class="header_container">

	<header style="background-image:url(images/header_img_blue.jpg); background-color:#097bb6">
    	<div class="container">	        
	        
	        <div class="header_right">            	
                <div class="top_btn">
	                <div class="topsearch">
		            	<form id="searchForm" action="#" method="get">
		                	<input type="submit" id="searchSubmit" value="Search" class="btn-search">
		                    <input type="text" name="stext" id="stext" value="" class="stext">                    
						</form>
	            	</div>
		        	<a href="posts-grid.html" class="link_view_grid">Grid View</a> <a href="posts-list.html" class="link_view_list active">List View</a>                
                </div>
	        </div>
			
			<div class="header_left">
			   	<div class="logo">
	            <a href="index.html"><img src="styles/blue/logo.png" alt=""></a>
	            <strong>Newssetter - Premium WordPress Theme</strong>
	            </div>
	        </div>
            
	        <div class="clear"></div>	
        </div>                    		    
	</header>
</div>
<!--/ header_container -->

<div class="container topm_cont">
 
    <!-- topmenu -->    
    <nav id="topmenu">            
	            <ul class="dropdown">                                                                              
                    <li class="menu-level-0"><a href="#"><span>Styles</span></a>
                    	<ul class="submenu-1">
                        	<li class="menu-level-1"><a href="#"><span>Flavors</span></a>
								<ul class="submenu-2">
									<li class="menu-level-2"><a href="../Black/index.html"><span>Black Style</span></a></li> 
									<li class="menu-level-2"><a href="../Blue/index.html"><span>Blue Style</span></a></li> 
									<li class="menu-level-2"><a href="../Red/index.html"><span>Red Style</span></a></li>
									<li class="menu-level-2"><a href="../Green/index.html"><span>Green Style</span></a></li>									
								</ul>
							</li>
                        	<li class="menu-level-1"><a href="#"><span>Home Styles</span></a>
								<ul class="submenu-2">
									<li class="menu-level-2"><a href="index.html"><span>Small Header</span></a></li> 
									<li class="menu-level-2"><a href="index-2.html"><span>Full Header</span></a></li> 
									<li class="menu-level-2"><a href="index-3.html"><span>Text Logo</span></a></li>
									<li class="menu-level-2"><a href="index-no-tags.html"><span>Without Tags</span></a></li>									
								</ul>
							</li>
                        </ul>
                    </li>
					<li class="menu-level-0"><a href="#"><span>Pages</span></a>
						<ul class="submenu-1">							
							<li class="menu-level-2"><a href="about.html"><span>About us</span></a></li>
							<li class="menu-level-2"><a href="contact.html"><span>Contact</span></a></li>
							<li class="menu-level-2"><a href="posts-types.html"><span>Post Layouts</span></a></li>
							<li class="menu-level-2"><a href="post-details-2.html"><span>Review Page</span></a></li>
							<li class="menu-level-2"><a href="posts-list-sidebar-left.html"><span>Sidebar Left</span></a></li>
							<li class="menu-level-2"><a href="wp-widgets-layout.html"><span>WP Widgets</span></a></li>
							<li class="menu-level-2"><a href="wp-widgets-layout-2.html"><span>Boxed Widgets</span></a></li>
						</ul>
					</li>
                   <li class="menu-level-0 current-menu-ancestor"><a href="#"><span>Shortcodes</span></a>
						<ul class="submenu-1">                        		
							<li class="menu-level-1"><a href="shortcodes-buttons.html"><span>Buttons & Lists</span></a></li> 
							<li class="menu-level-1"><a href="shortcodes-text.html"><span>Text & Images</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-charts.html"><span>Charts</span></a></li>  
							<li class="menu-level-1"><a href="shortcodes-columns.html"><span>Columns</span></a></li>  
							<li class="menu-level-1"><a href="shortcodes-lightbox.html"><span>Lightbox</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-media.html"><span>Videos & Galleries</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-maps.html"><span>Google Maps</span></a></li>
							<li class="menu-level-1 current-menu-item"><a href="shortcodes-tabs.html"><span>Tabs & Toggles</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-tables.html"><span>Boxes & Tables</span></a></li>                            
							<li class="menu-level-1"><a href="shortcodes-typography.html"><span>Typography</span></a></li>
							<li class="menu-level-1"><a href="shortcodes-widgets.html"><span>Widgets</span></a></li>
						</ul>   
					</li>
                    <li class="menu-level-0"><a href="#"><span>Advertising</span></a>
						<ul class="submenu-1">
							<li class="menu-level-1"><a href="advertise.html"><span>On Homepage</span></a></li> 
							<li class="menu-level-1"><a href="post-details-advertise.html"><span>On Post Article</span></a></li> 
						</ul>
					</li>	

                    <li class="menu-level-0 mega-nav"><a href="#"><span>Coolmenu</span></a>                    	
						<ul class="submenu-1">
                        	<li class="menu-level-1 mega-nav-widget">
                            	<!-- widget recent entries -->
							    <div class="widget-container widget_recent_entries"> 
									<h3 class="widget-title">New stories since your last visit</h3>
                                    <div class="mega-nav-widget-count"><em>31</em></div>
							            <ul>
							                <li><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></li>
							                <li><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a>					                </li>
                                            <li><a href="post-details.html" class="link-name">Google threatens site that rips YouTube music videos into MP3s</a></li>
										</ul>
                                        <div class="more-nav"><a href="posts-grid.html">See ALL THE NEW STORIES</a></div>
							    </div>
							    <!--/ widget recent entries -->
                            </li>
							<li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget featured entries -->
							    	<div class="widget-container widget_featured_posts"> 
										<h3 class="widget-title">We recommend</h3>
							                <ul>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
							                    </li>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
							                    </li>							                    
											</ul>
							        </div>
								<!--/ widget featured entries -->
                            </li>     
                            <li class="menu-level-1"><a href="#"><span>Subcategories</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Science Fiction</span></a></li>
                                    <li class="menu-level-2 more-nav"><a href="posts-grid.html"><span>See ALL Movies</span></a></li>
	                            </ul>
                            </li>	                                                                               
                    		                        
	                    </ul>                   
                    </li>
                    <li class="menu-level-0 mega-nav"><a href="#"><span>Games</span></a>
                    	<ul class="submenu-1">
                        							                                                    
                            <li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget text -->
							    	<div class="widget-container widget_text"> 
										<h3 class="widget-title">Text Widget in Mega Menu</h3>
							            <div class="textwidget">
						                    <p>Easily add a functional and highly customizable Mega Menu to your WordPress website. Choose your option of five different color schemes within the WordPress admin, or style it to your liking with your own stylesheet. In addition, the plugin has added shortcode functionality to better customize your menu’s content.</p>
						          		</div>
							        </div>
								<!--/ widget text -->
                            </li>	
                            <li class="menu-level-1"><a href="#"><span>Subcategories</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2 more-nav"><a href="posts-grid.html"><span>See ALL Movies</span></a></li>
	                            </ul>
                            </li>	  
                            <li class="menu-level-1 mega-nav-widget">                            	
                            	<!-- widget featured entries -->
							    	<div class="widget-container widget_featured_posts"> 
										<h3 class="widget-title">We recommend</h3>
							                <ul>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_1.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">What Today’s Video Games Say About The Moment We Live In</a></div>
							                    </li>
							                    <li>
							                        <a href="post-details.html"><img src="images/temp/post_thumb_2.jpg" alt="" class="thumbnail"></a> 
							                        <div class="recent_entry"><a href="post-details.html" class="link-name">Nike Twitter campaign banned in the UK after Wayne Rooney tweet breaks advertising rules</a></div>
							                    </li>							                    
											</ul>
							        </div>
								<!--/ widget featured entries -->
                            </li>  
                    		                        
	                    </ul>
                    </li>
                    <li class="menu-level-0"><a href="posts-grid.html"><span>Technology</span></a></li>
                    <li class="menu-level-0"><a href="posts-grid.html"><span>Marketplace</span></a></li>                    
                    <li class="menu-level-0 mega-nav"><a href="#"><span>Movies</span></a>
                    	<ul class="submenu-1">
                        	<li class="menu-level-1"><a href="#"><span>TV Shows</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
	                            </ul>
                            </li>	                    	
	                        <li class="menu-level-1"><a href="#"><span>Cinema</span></a>
	                            <ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="#"><span>Drama</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Romance</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
	                            </ul>
	                        </li>	
                            <li class="menu-level-1"><a href="#"><span>Trailers</span></a>
                            	<ul class="submenu-2">                                
	                                <li class="menu-level-2"><a href="posts-grid.html"><span>Action</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Comedy</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Horror</span></a></li>
                                    <li class="menu-level-2"><a href="posts-grid.html"><span>Sport</span></a></li>
	                            </ul>
                            </li>                       
	                    </ul> 
                    </li>
	            </ul>   
		<div class="clear"></div>                             
	</nav>    
    <!--/ topmenu -->
    
    <div class="topbar">
    	<div class="top_share"><span class="social_title">SHARE</span> <a href="#" class="social_google">Google +1</a> <a href="#" class="social_fb">Facebook</a> <a href="#" class="social_twitter">Twitter</a> <a href="#" class="social_pinterest">Pinterest</a></div>
        
    	<span class="top_filter"><a href="#" class="link_mostcomm">Most commented</a> <a href="#" class="link_pick">Editor’s Picks</a> <a href="#" class="link_mostlike">Most liked</a> <a href="#" class="link_random">Random story</a></span>     
        <div class="clear"></div>
    </div>
</div>

    
<div class="container"> 
<!-- middle -->
<div id="middle" class="cols2">
	
    <div class="title">
    	<h1><span>Shortcodes:</span> Tabs & Toggles</h1>
    </div>  
    
    <div class="content" role="main">

		<script>
	    SyntaxHighlighter.defaults['gutter'] = false;
	    SyntaxHighlighter.defaults['toolbar'] = true;
	    SyntaxHighlighter.all();
		</script>
                
    	<article class="post-detail post-page">            
			<div class="entry">    
            
            	<h2>Framed Tabs Example:</h2>
                        <!-- tabs in text -->
					<div class="tabs_framed">
                
					<ul class="tabs">
                        <li><a href="#tabs_1_1">Tab 1</a></li>
                        <li><a href="#tabs_1_2">Tab 2</a></li>
                        <li><a href="#tabs_1_3">Tab 3</a></li>
                        <li><a href="#tabs_1_4">Tab 4</a></li>
                    </ul>
                    
                    <div id="tabs_1_1" class="tabcontent">
                    	<div class="inner">
              
						
                       <!-- pricing table -->
                        <div class="pricing_box">
                            <ul>
                                <li class="price_col">
                                    <div class="price_item">                                        
                                        <div class="price_col_head">
                                            <strong>STARTER</strong> 
                                          <span class="price"><em>$</em>14<sup>.99</sup><em>/mo.</em></span>
                                      </div>
                                        
                                        <div class="price_col_body">
                                            <ul>
												<li><strong>10GB</strong> Storage Space</li>
												<li><strong>50GB</strong>  Bandwidth</li>
												<li><strong>10 Free</strong> Sub-Domains</li>
												<li><strong>250</strong> E-mail Accounts</li>
												<li>Control Panel & FTP</li>
												<li>No Shared 128bit SSL</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="price_col_foot">
                                            <a href="#" class="button_link"><span>Sign up</span></a>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="price_col col_active">
                                    <div class="price_item">                                        
                                        <div class="price_col_head head_green_dark">
                                            <strong>ADVANCED</strong> 
                                            <span class="price"><em>$</em>24<sup>.99</sup><em>/mo.</em></span>   
                                        </div>
                                        
                                        <div class="price_col_body">
                                            <ul>
												<li><strong>250GB</strong> Storage Space</li>
												<li><strong>20,000GB</strong>  Bandwidth</li>
												<li><strong>30 Free</strong> Sub-Domains</li>
												<li><strong>500</strong> E-mail Accounts</li>
												<li>Control Panel & FTP</li>
												<li>No Shared 128bit SSL</li>
                                            </ul>                                           
                                        </div>
                                        
                                        <div class="price_col_foot">
                                            <a href="#" class="button_link"><span>Sign up</span></a>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="price_col">
                                    <div class="price_item">                                        
                                        <div class="price_col_head head_red">
                                            <strong>PROFESSIONAL</strong>
                                            <span class="price"><em>$</em>89<sup>.99</sup><em>/mo.</em></span>
                                        </div>
                                        
                                        <div class="price_col_body">
                                            <ul>
												<li><strong>500GB</strong> Storage Space</li>
												<li><strong>40,000GB</strong>  Bandwidth</li>
												<li><strong>50 Free</strong> Sub-Domains</li>
												<li><strong>Unlimted</strong> E-mail Accounts</li>
												<li>Control Panel & FTP</li>
												<li>No Shared 128bit SSL</li>
                                            </ul>
                                        </div>        
                                        
                                        <div class="price_col_foot">
                                            <a href="#" class="button_link"><span>Sign up</span></a>
                                        </div>
                                    </div>
                                </li>
                                
                                
                                
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <!--/ pricing table -->
                       		
						</div>
                    </div>
                    
                    <div id="tabs_1_2" class="tabcontent">
                    	<div class="inner">
                    	<h3>Tab 2 content Title</h3>
						<p><img src="images/temp/post_4_2.jpg" width="219" height="140" alt="" class="frame_right"> when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum has been the industry's standard dummy text ever since theok a galley of type and scra.</p>
                        <p>>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        
                        </div>
					</div>
                    
                    <div id="tabs_1_3" class="tabcontent">
                    	<div class="inner">
                        <p><img src="images/temp/post_thumb_2.jpg" width="78" height="78" alt="" class="alignleft">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum has been the industry's standard </p>
                    	
                        </div>
                    </div>
                    
                    <div id="tabs_1_4" class="tabcontent">
                    	<div class="inner">
                       	<h3>Tab 4 content Title</h3>
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum has been the industry's standard dummy text ever since theok a galley of type and scra.</p>
                        </div>
                    </div>
                    
                    
				</div>
        	<!--/ tabs in text -->
                
           
<pre class="brush: plain">
[framed_tabs tab1="Tab 1" tab2="Tab 2" tab3="Tab 3" tab4="Tab 4"]
    [tab]Tab content 1[/tab]
    [tab]Tab content 2[/tab]
    [tab]Tab content 3[/tab]
    [tab]Tab content 4[/tab]
[/framed_tabs]
</pre>
            	
                <h2><span>Small</span> Framed Tabs </h2>                	
                    <div class="tabs_framed small_tabs">
                
                    <ul class="tabs">
                        <li><a href="#tabs_2_1">Tab 1</a></li>
                        <li><a href="#tabs_2_2">Tab 2</a></li>
                        <li><a href="#tabs_2_3">Tab 3</a></li>
                    </ul>
                    

                    <div id="tabs_2_1" class="tabcontent">
                    	<div class="inner">
                       	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum has been the industry's standard dummy text ever since theok a galley of type and scra.</p>
                        </div>
                    </div>
                    
                    <div id="tabs_2_2" class="tabcontent">
                    	<div class="inner">
						<p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since theok a galley of type and scra.</p>
                        </div>
	              	</div>
                    
                    <div id="tabs_2_3" class="tabcontent">
                    	<div class="inner">
                    	<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum has been the industry's standard dummy text ever since theok a galley of type and scra.</p>
                        </div>
                    </div>
                    
                </div>

<pre class="brush: plain">
[framed_tabs type="small" tab1="Tab 1" tab2="Tab 2" tab3="Long Tab 3" tab4="T4"]
    [tab]Tab content 1[/tab]
    [tab]Tab content 2[/tab]
    [tab]Tab content 3[/tab]
    [tab]Tab content 4[/tab]
[/framed_tabs]
</pre>        

				<h2>Toggle Content:</h2>

				<h3 class="toggle box">Toggle Content (Click to Open) <span class="ico"></span></h3>
                        <div class="toggle_content boxed">
                        	<div class="toggle_inner">
                        	<p>Every one of our wp themes, comes with extensive documentation and video tutorials that help you install, set up, and edit your theme and you don't even need a lot of wp knowledge or programming skills like js, or php. The thing we are most proud of when we talk about support, it our AfterCare Support Forums that you can access any time and receive guidance and solutions to your issues directly from the ThemeFuse developers</p>
                        	</div>
                        </div>
                    
<pre class="brush: plain">
[toggle_content title="Toggle Content (Click to Open)" type=&quot;boxed&quot; style="box_blue"]
toogle content here...
[/toggle_content]
</pre>
                    	<h2>Toggle <span>FAQ</span></h2>
                    
            			<h3 class="toggle box">Toggle Content (Click to Open) <span class="ico"></span></h3>
                        <div class="toggle_content boxed">
                        	<div class="toggle_inner">
                            
                            	<div class="faq_question toggle"><span class="faq_q">Q:</span> <span class="faq_title">What AfterCare services do you offer?</span> <span class="ico"></span></div>
                        		<div class="faq_answer toggle_content">
                            		<div class="toggle_inner">
                        			<p>Every one of our wp themes, comes with extensive documentation and video tutorials that help you install, set up, and edit your theme and you don't even need a lot of wp knowledge or programming skills like js, or php. The thing we are most proud of when we talk about support, it our AfterCare Support Forums that you can access any time and receive guidance and solutions to your issues directly from the ThemeFuse developers</p>
                            		</div>
                            	</div>
                        
                        		<div class="faq_question toggle"><span class="faq_q">Q:</span> <span class="faq_title">How do i get in touch with you?</span> <span class="ico"></span></div>
                       			<div class="faq_answer toggle_content">
		                        	<div class="toggle_inner">
		                        <p>First of all we recommend you to check the product detail page. We try to make this page as complete as we can, so you'll find there description, features and live demo preview access.</p>
		                        <p>However, if you still have some questions, you can use the direct contact form from the contact page. Don't forget to select "Pre purchase question" from the list of subjects. </p>
		                        	</div>
		                        </div>
                        
		                        <div class="faq_question toggle"><span class="faq_q">Q:</span> <span class="faq_title">How do I install a fresh copy of WordPress?</span> <span class="ico"></span></div>
		                        <div class="faq_answer toggle_content">
		                        	<div class="toggle_inner">
		                        This has to be. One for all and all for one, Muskehounds are always ready. One for all and all for one, helping everybody. One for all and all for one, can sound pretty corny. 
		                        	</div>
		                        </div>
                                
                        	</div>    	
                        </div>
                    
<pre class="brush: plain">
[toggle_content title="Toggle Content (Click to expand)" type=&quot;boxed&quot; style="box_blue"]
	[toggle_content title="What AfterCare services do you offer?" type="faq"]
	answere 1 here
	[/toggle_content]

    [toggle_content title="Question here?" type="faq"]
    answere 2 here
    [/toggle_content]
	...
[/toggle_content]    
</pre>  
              
<div class="clear"></div>            
            </div>
            
            	                
        </article>
        
       
        
	</div>
    <!--/ content -->
    
    <!-- sidebar -->
    <div class="sidebar">

		<div class="widget-container widget_nav_menu">
        	<img src="images/icons/icons_16_menu.png" alt="" class="widget_icon">
           		<h3 class="widget-title">SHORTCODES CATEGORIES</h3>
                    <ul>                       		
                            <li><a href="shortcodes-buttons.html"><span>Buttons & Lists</span></a></li> 
                            <li><a href="shortcodes-text.html"><span>Text & Images</span></a></li>
                            <li><a href="shortcodes-charts.html"><span>Charts</span></a></li>  
                            <li><a href="shortcodes-columns.html"><span>Columns</span></a>
                            	<ul>
									<li><a href="shortcodes-columns-full.html"><span>Full width page</span></a></li>  
									<li><a href="shortcodes-columns-full2.html"><span>Full width with Gallery</span></a></li>  
								</ul>
                            </li>  
                            <li><a href="shortcodes-lightbox.html"><span>Lightbox</span></a></li>
                            <li><a href="shortcodes-media.html"><span>Videos & Galleries</span></a></li>
                            <li><a href="shortcodes-maps.html"><span>Google Maps</span></a></li>
                            <li class="current-menu-item"><a href="shortcodes-tabs.html"><span>Tabs and Toggles</span></a></li>
                            <li><a href="shortcodes-tables.html"><span>Boxes & Tables</span></a></li>                            
                            <li><a href="shortcodes-typography.html"><span>Typography</span></a></li>
                            <li><a href="shortcodes-widgets.html"><span>Widgets</span></a></li>
                    </ul>
		</div> 
                    
    </div>
    <!--/ sidebar -->
     
    
        	
</div>
<!--/ middle --> 
</div>
<!--/ container --> 

<footer>
<div class="container" style="background-image:url(images/header_img_blue.jpg); background-color:#097bb6">

    <div class="footer_right">
    	<ul class="botmenu">
        	<li><a href="about.html">ABOUT</a></li>
            <li><a href="#">AUTHORS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="advertise.html">ADVERTISE</a></li>
            <li><a href="#">PRIVACY</a></li>
            <li><a href="#">TERMS</a></li>
        </ul>
    </div>
    
    <div class="footer_left">
   		<img src="styles/blue/logo_footer.png" width="230" height="50" alt="">
    </div>
	
    <div class="clear"></div>
    
</div>
</footer>

</div>
</body>
</html>